<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ .Site.Title }}</title>
<meta name="description" content="{{ .Site.Params.description }}">
<link rel="icon" href="{{ "images/favicon.svg" | relURL }}" type="image/svg+xml">
<link rel="stylesheet" href="{{ "fonts/fonts.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
{{ range .AllTranslations }}
<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}">
{{ end }}

<meta property="og:title" content="{{ .Site.Title }}">
<meta property="og:description" content="{{ .Site.Params.description }}">
<meta property="og:type" content="website">
<meta property="og:image" content="{{ "images/screenshot_overview.png" | absURL }}">
<meta name="twitter:card" content="summary_large_image">
